<router-outlet></router-outlet>

<div class="container">
  <div class="weather-now">
    <div class="weather-now-inner p-1">
      <div class="weather-now-upper">
        <div class="find-places pb-1">
          <div>
            <img src="../assets/find.png" alt="" class="icon">
          </div>
          <form #form = "ngForm" (submit) = "onSubmit()">
            <input type="text" placeholder="Search for places..." name="city" [(ngModel)]="cityName">
          </form>
        </div>
        <div style="text-align: center;">
          <img src={{img_now}} alt="" class="pb-1" style="width: 128px; height: auto;">
        </div>

        <div class="pb-1" style="border-bottom: 1px solid rgba(0, 0, 0, 0.1); text-align: center;">
          <span style="font-size: 52px;">{{temp_now}}°C</span>
          <br>
          <span>{{weekday[this.today.getDay()]}}, {{h}}</span>
        </div>

        <div class="pb-1 pt-1">
          <span style="display: flex;">
            <img src={{img_now}} alt="" class="icon">
            <div style="padding-left: 4px;">{{cond_now}}</div>
          </span>
          <br>
          <span style="display: flex;">
            <img src="../assets/boy.png" alt="" class="icon">
            <div style="padding-left: 4px;">Feels like - {{feelsLike}} °C</div>
          </span>
        </div>
      </div>

      <div class="weather-now-lower">
        <img src="https://png.pngtree.com/thumb_back/fh260/background/20200616/pngtree-realities-blue-sky-with-white-cloud-background-image_339300.jpg" alt="">
        <span style="color: #fff;">{{location}}</span>
      </div>
    </div>
  </div>
  <div class="weather-forecast p-1">
    <div class="container-right">
      <div class="forecast">
        <p class="forecast-title t1">
          7-day forecast
        </p>
        <div class="forecast-container">
          <div class="forecast-item" *ngFor="let i of forecastArr; index as index">
            <span>{{forecastWDay[index]}}</span>
            <img src= {{forecastImgArr[index]}} alt="">
            <span>
              <span>
                {{i.day.maxtemp_c | number: '1.0-0'}}
              </span>
              <span class="temp-low">
                {{i.day.mintemp_c | number: '1.0-0'}}
              </span>
            </span>
          </div>
        </div>
      </div>
      <div class="today">
        <p class="today-title t1">
          Today's highlights
        </p>
        <div class="today-container">
          <div class="today-item">
            <span class="idx-title">
              UV index
            </span>
            <div class="today-index">
              <span>
                <span class="idx">{{uv}}</span>
                <span class="metric"></span>
              </span>
              <div *ngIf="uv >= 6">
                <img src="../assets/uv_high.png" alt="">
              </div>
              <div *ngIf="uv < 6">
                <img src="../assets/uv_low.png" alt="">
              </div>
            </div>
          </div>
          <div class="today-item">
            <span class="idx-title">
              Visibility
            </span>
            <div class="today-index">
              <span>
                <span class="idx">{{visibility}}</span>
                <span class="metric">km</span>
              </span>
              <div *ngIf="visibility <= 1">
                <img src="../assets/vis_low.png" alt="">
              </div>
              <div *ngIf="visibility > 1">
                <img src="../assets/vis_clear.png" alt="">
              </div>
            </div>
          </div>
          <div class="today-item">
            <span class="idx-title">
              Wind speed
            </span>
            <div class="today-index">
              <span>
                <span class="idx">{{wind}}</span>
                <span class="metric">km/h</span>
              </span>
              <div>
                <img src="../assets/wind.png" alt="">
              </div>
            </div>
            <img src="" alt="">
          </div>
          <div class="today-item">
            <span class="idx-title">
              Humidity
            </span>
            <div class="today-index">
              <span>
                <span class="idx">{{humidity}}</span>
                <span class="metric">%</span>
              </span>
              <div>
                <img src="../assets/humidity.png" alt="">
              </div>
            </div>
            <img src="" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
